export(GFAexperiment)
export(CCAexperiment)
export(CCA)
export(GFA)
export(getDefaultOpts)
export(CCAtrim)
export(GFAtrim)
export(CCAcorr)
export(CCApred)
export(GFApred)
export(CCAsample)
export(GFAsample)
